# Dependencies
node_modules
vendor

# Environment & Secrets
.env
.env.backup
.env.production

# Git
.git
.gitignore

# Logs & Cache
storage/logs/*.log
bootstrap/cache/*.php
*.log

# Test & Coverage Reports
coverage-report
.phpunit.result.cache

# OS Files
.DS_Store
Thumbs.db

# IDE Files
.idea
.vscode
*.swp
